.btn-vote {
  width: 100%;
  float: left;
}

.btn-voted {
  width: 70% !important;
  border-radius: .25rem 0 0 .25rem !important;
}

.input-votes {
  width: 30% !important;
  height: 38px !important;
  border-radius: 0 .25rem .25rem 0 !important;
  float: left;
  text-align: center;
}

.btn-chat {
  width: 100%;
}

.input-choice {
  width: calc(100% - 40px);
  float: left;
  border-radius: .25rem 0 0 .25rem !important;
}

.btn-add-choice {
  float: right;
  border-radius: 0 .25rem .25rem 0 !important;
}

.choice-list {
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.choice-item {
  height: calc(1.5em + .75rem + 2px);
  line-height: 40px;
}
