/* You can add global styles to this file, and also import other style files */
#app_logo {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.bg-custom {
  background: #007bff;
}

.no-padding {
  padding: 0 !important;
}

.content {
  padding: 25px 50px 25px 50px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-15px {
  margin-bottom: 15px;
}

.hidden {
  display: none !important;
}
