/* You can add global styles to this file, and also import other style files */
#app_logo {
  width: 40px;
  height: 40px;
}

.bg-custom {
  background: #2369be;
}

.no_padding {
  padding: 0 !important;
}

.content {
  padding: 25px 50px 25px 50px;
}
